:root {
  --brand-color-1: #ff8d1b;
  --background-color-1: #fff;
  --font-color-1: rgb(36, 36, 36);
}
.dark-theme {
  --brand-color-1: #ff8d1b;
  --background-color-1: #000;
  --font-color-1: rgb(231, 231, 231);
}

$brandColor1: var(--brand-color-1);
$backgroundColor1: var(--background-color-1);
$fontColor1: var(--font-color-1);
